
<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./assets/css/style.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<title>Eagles Airlines</title>
</head>

<body>
	<header>
		<nav class="navbar col-12 position-fixed navbar-expand-lg navbar-dark"
			style="background-color: #0b0744; z-index: 999;">
			<div class="container-fluid col-11 m-auto">
				<a class="navbar-brand" href="index.html">
					<img src="./assets/imagens/eagleslogo.PNG" alt="Bootstrap" width="150" height="70">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="destino.html">Destino</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="promocao.html">Promoção</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contato.html">Contato</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Listas
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/passageiros}">Passageiros</a></li>
								<li><a class="dropdown-item" th:href="@{/pedidos}">Pedidos</a></li>
								<li><a class="dropdown-item" th:href="@{/passagem}">Passagens</a></li>
							</ul>
						</li>
					</ul>
					<div class="text-end">
						<button type="button" class="btn btn-outline-light me-2">Login</button>
						<button type="button" class="btn btn-warning"> 
						<a class="nav-link" href="passageiro.html">Cadastre-se</button></a>
								

					</div>
				</div>
			</div>
		</nav>
	</header>

	<br><br>
	<br><br>

	<main class="newsletter">
		<div>
			<h1>Bem vindos a Eagles Airlines</h1>
			<h2>"Em nossa agência de viagens, o céu não é apenas o limite,
				mas o início de uma emocionante jornada. Assim como a águia que voa majestosamente,
				levamos você a destinos incríveis com a mesma destreza e graciosidade" </h2>
			<br>
			<h4>Confira as opções de viagens mais buscadas no nosso site:</h4>
			<br>
			<a href="destino.html">
				<h5>Maceió, Alagoas, Brasil </h5>
			</a>
			<img src="./assets/imagens/salvador.jpg" alt="Imagem de Salvador">
			<br><br>
			<p>Maceió, a bela capital de Alagoas,
				é um verdadeiro paraíso tropical repleto de pontos turísticos encantadores.
				Banhada pelas águas azul-turquesa do Oceano Atlântico, a cidade oferece uma combinação perfeita de
				praias paradisíacas,
				paisagens deslumbrantes e uma rica cultura local. Começando pelas praias,
				não há como resistir ao encanto da Praia de Pajuçara, famosa por suas piscinas naturais formadas durante
				a maré baixa.
				É o local perfeito para mergulhar com snorkel e apreciar a rica fauna marinha.</p>
			<br><br>
			<a href="destino.html">
				<h5>Chapada dos veadeiros, Goiás, Brasil </h5>
			</a>
			<img src="./assets/imagens/recife.jpg" alt="Imagem de Recife">
			<br><br>
			<p>Descubra a encantadora Chapada dos veadeiros, em Goiás, no Brasil. A Chapada dos Veadeiros é um convite
				irrecusável aos amantes do ecoturismo.
				A região, que engloba oito municípios do interior de Goiás,
				tem como principais bases de apoio para os turistas a cidade de Alto Paraíso de Goiás,
				a Vila de São Jorge e Cavalcante. Grande parte das atrações da região está concentrada nas três
				localidades,
				entre elas o Parque Nacional da Chapada dos Veadeiros e quedas d’água espetaculares, como a Cachoeira
				Santa Bárbara,
				que se tornou famosa pela água em tons de azul Caribe. Não faltarão opções de banho nos dias em que você
				estiver por lá.</p>
		</div>

	</main>

	<footer class="footer">
		<div class="footer_container">
			<div class="newsletter">
				<h1>Pensou que acabou? Clique em "Destino" e confira todos os nossos pacotes de viagem!</h1>
			</div>
			<div class="footer_content_container">
				<div class="footer_content">
					<div class="contact">
						<h1>Eagles Airlines, onde os sonhos ganham asas e a liberdade encontra seu destino!</h1>
						<p class="txt_md_white">kazuohirotokuta@aluno.recode.org.br</p>
					</div>
					<ul class="footer_links">
						<li>
							<h3 class="txt_lg_white">Menu</h3>
						</li>
						<li><a href="#" class="nav__link">Home</a></li>
						<li><a href="#" class="nav__link">Destino</a></li>
						<li><a href="#" class="nav__link">Promoções</a></li>
						<li><a href="#" class="nav__link">Contato</a></li>
					</ul>

				</div>
			</div>
		</div>
	</footer>

	<!-- Scripts do Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>