<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./assets/css/style.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<title>Eagles Airlines | Passageiros</title>
</head>

<body>

	<header class="header">

		<nav class="navbar col-12 position-fixed navbar-expand-lg navbar-dark"
			style="background-color: #0b0744; z-index: 999;">
			<div class="container-fluid col-11 m-auto">
				<a class="navbar-brand" href="index.html"> <img src="./assets/imagens/eagleslogo.PNG" alt="Bootstrap"
						width="150" height="70">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/}"> Home </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/passageiro}"> Passageiros </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/passagem}"> Passagens </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/pedido}"> Pedidos </a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<main class="newsletter">

		<section class="container">

			<div class="p-4">
				<h1>Passageiros</h1>
				<table class="table table-responsive table-hover">
					<thead class="table-dark">
						<tr>
							<th scope="col">CPF</th>
							<th scope="col">Nome</th>
							<th scope="col">Passaporte</th>
							<th scope="col">Email</th>
							<th scope="col">Telefone</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="p : ${passageiros}">
							<td th:text=${p.CPF}></td>
							<td th:text=${p.nome_passageiro} class="name"></td>
							<td th:text=${p.passaporte}></td>
							<td th:text=${p.email}></td>
							<td th:text=${p.telefone}></td>
							<td>
								<div class="d-flex">
									<a th:href="@{'/passageiros'}" data-bs-toggle="modal"
										th:data-bs-target="'#exampleModal' + ${p.CPF}" class="mx-1" title="Editar">
										<i class="ri-file-edit-line"></i>
									</a>
									<a th:href="@{'/passageiros/' + ${p.CPF} + '/excluir'}" class="mx-1"
										title="Cancelar" onclick="return confirm('Deseja excluir o passageiro ?')">
										<i class="ri-delete-bin-2-line"></i>
									</a>

									<!-- Modal -->
									<div class="modal fade" th:id="'exampleModal' + ${p.CPF}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel"> Atualizar </h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form th:action="@{/passageiros/cadastrar}" method="post"
														th:object="${passageiro}">

														<input type="hidden" name="CPF" class="form-control"
															th:value="${p.CPF}" />
														<div class="form-group mb-3">
															<label for="nome_passageiro" class="form-label">
																Nome
															</label>
															<input type="text" id="nome_passageiro"
																name="nome_passageiro" class="form-control"
																th:value="${p.nome_passageiro}" />
														</div>
														<div class="form-group mb-3">
															<label for="passaporte" class="form-label">
																Email
															</label>
															<input type="text" id="passaporte" name="passaporte"
																class="form-control" th:value="${p.passaporte}" />
														</div>
														<div class="form-group mb-3">
															<label for="email" class="form-label">
																Email
															</label>
															<input type="text" id="email" name="email"
																class="form-control" th:value="${p.email}" />
														</div>
														<div class="form-group mb-3">
															<label for="telefone" class="form-label">
																telefone
															</label>
															<input type="text" id="telefone" name="telefone"
																class="form-control" th:value="${p.telefone}" />
														</div>

														<button type="submit" class="btn btn-primary">
															Enviar
														</button>
														<a href="./passageiros" class="btn btn-danger"
															style="margin-left: 10px">
															Cancelar
														</a>
													</form>
												</div>

											</div>
										</div>
									</div>

								</div>
							</td>
						</tr>

					</tbody>

				</table>
				<button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary mb-2 botao1"> Novo
					Usuario </button>

			</div>
		</section>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel"> Cadastrar </h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/passageiros/cadastrar}" method="post" th:object="${passageiro}">


							<div class="form-group mb-3">
								<label for="CPF" class="form-label">
									CPF
								</label>
								<input type="text" th:id="CPF" th:name="CPF" class="form-control" th:field="*{CPF}" />
							</div>
							<div class="form-group mb-3">
								<label for="nome_passageiro" class="form-label">
									Nome
								</label>
								<input type="text" th:id="nome_passageiro" th:name="nome_passageiro"
									class="form-control" th:field="*{nome_passageiro}" />
							</div>
							<div class="form-group mb-3">
								<label for="passaporte" class="form-label">
									passaporte
								</label>
								<input type="text" th:id="passaporte" th:name="passaporte" class="form-control"
									th:field="*{passaporte}" />
							</div>
							<div class="form-group mb-3">
								<label for="email" class="form-label">
									Email
								</label>
								<input type="email" th:id="email" th:name="email" class="form-control"
									th:field="*{email}" />
							</div>
							<div class="form-group mb-3">
								<label for="telefone" class="form-label">
									telefone
								</label>
								<input type="text" th:id="telefone" th:name="telefone" class="form-control"
									th:field="*{telefone}" />
							</div>

							<button type="submit" class="btn btn-primary">
								Enviar
							</button>
							<a href="./passageiros" class="btn btn-danger" style="margin-left: 10px">
								Cancelar
							</a>
						</form>
					</div>

				</div>
			</div>
		</div>

	</main>
	<footer class="footer">
		<div class="footer_container">
			<div class="newsletter">
				<h1>Pensou que acabou? Clique em "Destino" e confira todos os
					nossos pacotes de viagem!</h1>
			</div>
			<div class="footer_content_container">
				<div class="footer_content">
					<div class="contact">
						<h1>Eagles Airlines, onde os sonhos ganham asas e a liberdade
							encontra seu destino!</h1>
						<p class="txt_md_white">kazuohirotokuta@aluno.recode.org.br</p>
					</div>
					<ul class="footer_links">
						<li>
							<h3 class="txt_lg_white">Menu</h3>
						</li>
						<li><a href="#" class="nav__link">Home</a></li>
						<li><a href="#" class="nav__link">Destino</a></li>
						<li><a href="#" class="nav__link">Promoções</a></li>
						<li><a href="#" class="nav__link">Contato</a></li>
					</ul>

				</div>
			</div>
		</div>
	</footer>
	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>
	
	
</body>

</html>